<div style="margin-left:40% ; margin-top:5%">
<h1 style="margin-left:4%">Login</h1>
 <%= form_with url: "/login" do |form| %>
   <p><%= form.text_field :name, placeholder: true  %></p>
   <p><%= form.password_field :password, placeholder: true %></p>
   <p style="margin-left:6%"><%= form.submit "Login"%></p>
<% end %> 
<%= link_to "Create an Account?", sign_up_path %>
</div>


